/* 전체 */
*{font-size: 15px;}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ai 박스 */
.ai-container {
    margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;  
  padding: 30px;
  gap: 30px; 
  background: white;
  border-radius: 30px;
}

/* 제목 */
.ai-container .title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.ai-container .filter-row{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px; 
  width: fit-content;
}

/* 설명 텍스트 */
.ai-container p {
  white-space: nowrap;
  margin: 0;
  width: auto;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

/* 버튼 */
.ai-container button {
  padding: 10px 15px;
  background: #F3C11B;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: 0.2s;
}

.ai-container button:hover {
  transform: translateY(-2px);
}

/* radio 그룹 */
.ai-container .radio-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* label */
.ai-container .radio-group label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 15px;
}

/* 라디오 버튼 */
.ai-container .radio-group input[type="radio"] {
  transform: scale(1.5);
  cursor: pointer;
}

/* 선택된 label */
.ai-container .radio-group label.selected {
  font-weight: bold;
}

/* 결과 테이블 */
.ai-result-table {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ai-result-table table {

  width: auto;
  border-collapse: collapse;
  text-align: center;
}

.ai-result-table th {
  font-size: 15px;
  font-weight: bolder;
  background-color: #fff;
  color: #F3C11B;
  padding: 10px;
}

.ai-result-table td {
  font-size: 15px;
  padding: 10px;
}