.profile-title{font-size: 40px; font-weight: bolder; color: #816507;}

/* 전체 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #FFEBA9;
}

/* 화면 중앙 */
.profile-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* 로그인 박스 */
.profile-box {
  align-items: center;
  width: 800px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 30px;
  box-sizing: border-box;
  gap: 50px;
}

/* 로고 */
.logo {
  width: 700px;
  display: block;
  object-fit: contain;
}

/* 아이디 input */
.profile-box > input {
  width: 100%;
  padding: 20px;
  border: 2px solid #e5e5e5;
  border-radius: 15px;
  font-size: 30px;
  font-weight: bolder;
  box-sizing: border-box;
  outline: none;
  transition: 0.2s;
}

.profile-box > input:focus {
  border-color: #F3C11B;
}

/* 버튼 */
.profile-box button {
  width: 100%;
  padding: 15px;
  background: #F3C11B;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: 0.2s;
}

.profile-box button:hover {
  transform: translateY(-2px);
}

/* 필터 한 줄 */
.filter-row {
  display: flex;
  align-items: center;
  width: 100%;
}

/* 제목 */
.profile-box .filter-row p {
  width: 25%;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* radio 그룹 */
.profile-box .radio-group {
  width: 100%;
  display: flex;
  gap: auto;
}
/* 기본 박스 */
.profile-box .radio-group label {
  width: auto;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}
/* 라디오 버튼 크게 */
.radio-group input[type="radio"] {
  transform: scale(1.5); 
  cursor: pointer;
}

/* 선택된 박스 */
.radio-group label.selected {
  font-weight: bold;
}

/* 체크박스 묶음 */
.profile-box .checkbox-group {
  width: 100%;
  display: flex;
  gap: 8px;

}
/* 체크박스 숨김 */
.checkbox-group input[type="checkbox"] {
  display: none;
}

/* 기본 박스 */
.checkbox-group label {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #fff8df;
  border: 2px solid #f4df93;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

/* hover */
.checkbox-group label:hover {
  background: #ffe58a;
}

/* 체크됐을 때 박스 진해짐 */
.checkbox-group input[type="checkbox"]:checked + span {
  color: white;
}

/* 체크 상태 label */
.checkbox-group label:has(input:checked) {
  background: #F3C11B;
  border-color: #d8a400;
  color: white;
  font-weight: bold;
  transform: scale(1.03);
}
